body {
  background-color: #282C34;
  color: white;
  font-family: 'Concert One', cursive;
  margin: 18px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  padding: 1px;
}

#quote-author {
  color: LightGreen;
  font-size: 24px;
  font-style: italic;
}

#quote-message {
  color: LightBlue;
  font-size: 26px;
}

.button-space {
  padding: 14px 4px;
}

.quote-box {
  display: inline-block;
  padding: 4px 8px;
}
